.des-sec {
  width: 100vw;
  padding: 5rem 0;
  display: grid;
  place-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.des-sec > div {
  width: 80vw;
  max-width: 1800px;
}
