.some-extra-rete-your-experiences {
  padding: 1rem;
  border-radius: 1.5rem 1.5rem 0 0;
  position: fixed;
  right: -3.4rem;
  top: 40vh;
  transform: rotate(-90deg);
  z-index: 1000;
  background-color: coral;
  color: #fff;
}
